/* 
 * :host selector is angular's way to target entire component
 * default display is inline.
 * change to block to correctly set size in app.component.css
 */
:host {
  display: block;
}

section {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

/* This should be moved to grid-card component as :host */
grid-card {
 height: 100%;
 border: 1px solid #333333;
 padding: 1%;
 background-color: whitesmoke;
 box-sizing: border-box;
}
