

<input type="text" value="Title">
<input type="text" value="Description">

<div>
  <label>Completed</label>
  <input type="checkbox">
</div>

<div class="radio-buttons">
  <label for="isImportantTrue">Important</label>
  <input type="radio" name="isImportant" id="isImportantTrue">
  <label for="isImportantFalse">Not Important</label>
  <input type="radio" name="isImportant" id="isImportantFalse">
</div>

<div class="radio-buttons">
  <label for="isUrgentTrue">Urgent</label>
  <input type="radio" name="isUrgent" id="isUrgentTrue">
  <label for="isUrgentFalse">Not Urgent</label>
  <input type="radio" name="isUrgent" id="isUrgentFalse">
</div>