<!-- 
Angular Structure:
<app-root>
  <grid-view>
    <grid-card>
      <todo></todo>
    </grid-card>
    ...
  </grid-view>

  //Other views later...

  //NOTE: set class names for cards. Then use these class names as selectors for individual todo styling
</app-root>
-->

<article [ngClass]="{'dark-mode': darkModeEnabled}">
  <div id="icons-container">
    <img src="../assets/new-todo/create-todo.png" (click)="onNewTodo()">

    <img src="../assets/home/theme-dark.png"  *ngIf="!darkModeEnabled" (click)="darkModeEnabled = true">
    <img src="../assets/home/theme-light.png" *ngIf="darkModeEnabled" (click)="darkModeEnabled = false">

    <img src="../assets/home/panorama-black.png" *ngIf="responsiveViewEnabled" (click)="responsiveViewEnabled = false" title="Fixed Size">
    <img src="../assets/home/panorama-white.png" *ngIf="!responsiveViewEnabled" (click)="responsiveViewEnabled = true" title="Responsive Size">

    <img src="../assets/home/no-scroll.png" *ngIf="scrollBarsEnabled" (click)="scrollBarsToggle()" title="Remove Scrollbars">
    <img src="../assets/home/scroll.png" *ngIf="!scrollBarsEnabled" (click)="scrollBarsToggle()" title="Enable Scrollbars">
  </div>

    
  <grid-view [ngStyle]="styleGridView()"></grid-view>
</article>