<!-- 
Angular Structure:
<app-root>
  <grid-view>
    <grid-card>
      <todo></todo>
    </grid-card>
    ...
  </grid-view>

  //Other views later...
</app-root>
-->

<article [ngClass]="{'dark-mode': darkModeEnabled}">
  <div id="icons-container">
    <img src="../assets/new-todo/create-todo.png" (click)="onNewTodo()">

    <img src="../assets/home/theme-dark.png"  *ngIf="!darkModeEnabled" (click)="darkModeEnabled = true">
    <img src="../assets/home/theme-light.png" *ngIf="darkModeEnabled" (click)="darkModeEnabled = false">
  </div>

    
  <grid-view></grid-view>


  <new-todo *ngIf="displayNewTodo" (exitStarted)="exitNewTodo()"></new-todo>
</article>