/* You can add global styles to this file, and also import other style files */
html {
  font-family: Avenir;
  height: auto;
}

body {
  height: 100%;
  margin: 0px;
  background-color: rgb(250, 250, 250);
}