.todo {
  margin: 5px;
  padding: 2px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.todo-always-visible {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.todo-expandable {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input-completed-checkbox {
  appearance: none;
  width: 18px;
  height: 18px;
  background-color: rgb(89,122,200);
}
.input-completed-checkbox:checked {
  background-image: url('../../assets/todo/checkmark.png');
  background-size: contain;
}
.input-completed-checkbox:focus {
  outline: none;
}

.input-name {
  height: 34px;
  margin: 0px 4px;
  border: 1px solid rgb(143,172,241);
  border-radius: 10px;
  background-color: rgb(91,124,198);
  flex-grow: 1;
  cursor: text !important;
  color: whitesmoke;
  font-size: 18px;
}
.input-name:focus {
  outline: none !important;
  border: 1px white solid;
}
.todo-completed {
  text-decoration: line-through;
  color: rgba(189,189,189,0.78);
  background-color: rgba(130,130,130,0.59);
}

textarea {
  margin: 2px 0px;
}

.radio-container-all {
  display: flex;
  justify-content: space-around;
}
.radio-container {
  color: white;
  display: flex;
  flex-direction: column;
}

.expand-div {
  width: 36px;
  height: 36px;
}


.control-buttons {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}
.control-buttons button {
  width: 62px;
  height: 22px;
  margin: 0px 2px;
  box-sizing: border-box;
}

.button-delete-confirm {
  border: 1px solid crimson;
  background-color: lightcoral;
  color: darkred;
}

/* Card-Specific Styling */

/* Overall Todo */
.urgentImportant :host .todo {
  background-color: rgba(196,196,196,0.2);
}
.urgent :host .todo {
  background-color: rgba(196,196,196,0.4);
}
.important :host .todo {
  background-color: rgba(196,196,196,0.2);
}
.neither :host .todo {
  background-color: rgba(196,196,196,0.4);
}
