<li [formGroup]="todoForm" class="todo">
  <!-- Always Visible Section -->
  <div class="todo-always-visible">
    <input 
      formControlName="isCompleted" 
      class="input-completed"
      type="checkbox" 
      [checked]="todo.isCompleted">
    <input formControlName="name" class="input-name" type="text">
    
    <!-- Expand buttons -->
    <img *ngIf="!displayExpandedFields" (click)="toggleDisplayExpanded()" src="../../assets/expand-more.png">
    <img *ngIf="displayExpandedFields" (click)="toggleDisplayExpanded()" src="../../assets/expand-less.png">
  </div>
    
  <!-- Expanded Section -->
  <div *ngIf="displayExpandedFields || todoForm.dirty" class="todo-expandable">
    <!-- Description Text Field-->

    <!-- Urgent Radio Group -->
    <div>
      <input 
        type="radio" 
        [name]="uniqueRadioButtonNameUrgent" 
        [formControlName]="uniqueRadioButtonNameUrgent"
        [id]="uniqueRadioButtonNameUrgent + 'True'" 
        value="true">
      <label [for]="uniqueRadioButtonNameUrgent + 'True'">Urgent</label>
      <input 
        type="radio" 
        [name]="uniqueRadioButtonNameUrgent" 
        [formControlName]="uniqueRadioButtonNameUrgent" 
        [id]="uniqueRadioButtonNameUrgent + 'False'" 
        value="false">
      <label [for]="uniqueRadioButtonNameUrgent + 'False'">Not Urgent</label>
    </div>

    <!-- Important Radio Group -->
    <div>
      <input 
        type="radio" 
        [name]="uniqueRadioButtonNameImportant" 
        [formControlName]="uniqueRadioButtonNameImportant" 
        [id]="uniqueRadioButtonNameImportant + 'True'" 
        value="true">
      <label [for]="uniqueRadioButtonNameImportant + 'True'">Important</label>
      <input 
        type="radio" 
        [name]="uniqueRadioButtonNameImportant" 
        [formControlName]="uniqueRadioButtonNameImportant" 
        [id]="uniqueRadioButtonNameImportant + 'False'" 
        value="false">
      <label [for]="uniqueRadioButtonNameImportant + 'False'">Not Important</label>
    </div>

    <!-- Only appears once user changes todo fields (once changed does not go away until saved currently) -->
    <button 
      *ngIf="todoForm.dirty" 
      class="button-save" 
      type="submit" 
      (click)="onTodoUpdateSave()">
      Save
    </button>
  </div>
</li>